{% extends 'createBase/create_about.html' %}
{% block title %}Создание сметы{% endblock %}

{% block content %}

<div class="wrapper-dropdown">
    <p>Выбор типа сметы</p>
    <form action = "">
        <label class="container">Текущая смета
            <input class="checkbox" type="checkbox" id="box" style="transform:scale(2.18);">
            <span class="checkmark"></span>
        </label>
        <div class="select-box">
            <label for="select-box1" class="label select-box"><span class="label-desc">Период промежуточной сметы</span> </label>
                <select id="select-box1" class="select" autocomplete="0">
                    <option value="0">--------------</option>
                    <option value="1">1 год</option>
                    <option value="2">2 года</option>
                    <option value="3">3 года</option>
                </select>
        </div>
        <div class="select-box">
             <label for="select-box2" class="label select-box"><span class="label-desc">Период промежуточной сметы</span> </label>
                <select  id="select-box2" class="select" autocomplete="0">
                    <option value="0">--------------</option>
                    <option value="1">1 год</option>
                    <option value="2">2 года</option>
                    <option value="3">3 года</option>
                </select>
        </div>
    </form>
    <button onclick="window.location.href = 'http://127.0.0.1:8000/createBase/materialSelection';" disabled class="btn btn-success">Далее</button>
</div>

<script>
    box = document.querySelector('#box');
    btn = document.querySelector('.btn');
    btn.setAttribute('disabled', true);
    box.oninput = function(){
        if(box.checked){
            btn.removeAttribute('disabled');
        } else {
             btn.removeAttribute('disabled', true);
        }
    }
</script>

{% endblock %}