{% extends 'main/about.html' %}

{% block title %}Главная страница{% endblock %}

{% block content %}
    <div class="features">
        <h1>{{ title }}</h1>
        <h1>Составь свою смету: прогноз цен на вашей стороне!</h1>
        <h2>Наш сайт занимается составлением сметы по спрогнозированным расценкам материало, и Вы, уважаемый клиент, можете выбрать тип сметы, который необходим именно Вам:</h2>
        <h3>1) Текущая. Смета, все расценки которой производятся на 2023 г.</h3>
        <h3>2) Промежуточная. Если вы планируете вести строительство в течение какого-то времени и не закупаете все материалы заранее, боитесь, что за данный период какой-либо материал подорожает, то данная смета для вас.</h3>
        <h3>3) Отложенная. Данная смета пригодится тем, кто планирует стройку в будущем, но закупать материалы будет единовременно. Смета позволит узнать расценки на определенный год (2024, 2025, 2026 гг)</h3>
        <p>Контакты:</p>
        <table>
            <tr>
                <td>
                    Суркова Маргарита
                </td>
                <td>
                    Новикова Татьяна
                </td>
                <td>
                    Шорникова Юля
                </td>
            </tr>
            <tr>
                <td>
                    surckova.margarita2004@yandex.ru
                </td>
                <td>
                    SKIPPER02.06@yandex.ru
                </td>
                <td>
                    shornikova_110503@mail.ru
                </td>
            </tr>
            <tr>
                <td>
                    +7(919)-455-32-93
                </td>
                <td>
                    +7(992)-232-82-01
                </td>
                <td>
                    +7(902)-646-64-83
                </td>
            </tr>
        </table>
    </div>

{% endblock %}