{% extends 'main/about.html' %}

{% block title %}Главная страница{% endblock %}

{% block content %}
    <div class="features">
        <h1>{{ title }}</h1>
        <h1>Составь свою смету: прогноз цен на вашей стороне!</h1>
        <p>Контакты:</p>
        <table>
            <tr>
                <td>
                    Суркова Маргарита
                </td>
                <td>
                    Новикова Татьяна
                </td>
                <td>
                    Шорникова Юля
                </td>
            </tr>
            <tr>
                <td>
                    surckova.margarita2004@yandex.ru
                </td>
                <td>
                    SKIPPER02.06@yandex.ru
                </td>
                <td>
                    shornikova_110503@mail.ru
                </td>
            </tr>
            <tr>
                <td>
                    +7-(919)-455-32-93
                </td>
                <td>
                    +7-(992)-232-82-01
                </td>
                <td>
                    +7-(902)-646-64-83
                </td>
            </tr>
        </table>
    </div>

{% endblock %}